[2020-02-06 09:59] jensr opened #1 "Manifesto completion"
### summary
Agreed to complete the text for the manifesto

### task list
- [x] Mission Statement/Aims
- [x] Historical background
- [x] Organisation of TAF repositories
- [x] Sensitive data and data access
- [x] Metadata and publishing
- [x] The system will
- [x] The system will not
- [x] Guidelines for prioritisation / Project management
- [x] Definition of resources available
- [x] Definition of

[2020-02-18 10:42] colinpmillar opened #2 "Consider adding a field for filename to the DATA.bib entry"
The Key feild is usually a easy to type name that you can use in a  latex document, and filenames can be quite long and complex.

A solution could be to use a field called 'filename' or similar and this would allow the Key to be somethig more simple

from @dorleta

[2020-02-19 16:33] colinpmillar opened #3 "Develop TAF repositories for non-DATRAS indices based on DATRAS data"
There are several indices used in stock assessments based on DATRAS data that are calculated by ICES experts and are not done within the DATRAS system.  One example is the indices for Hake in 3a46-8abd.

There has been a sugestion that one way forward would be to hold a workshop to get as many indicex calculation procedures in to TAF as possible, while also developing a set of standard outputs.

T

[2020-02-26 08:22] colinpmillar opened #4 "Develop a way to ensure all TAF data products are documented"
# Summary
In order to ensure that we do not publish data that falls under a restricted lisence, we need a method to document (add metadata) to data products created during a TAF assessment.  Of specific relavence is a feild stating the data policy / lisnce for the data file.

An example is, a summary of VMS data records may still fall under the VMS data policy, and cannot be published and have acc

[2020-02-26 08:26] colinpmillar commented on #4
A possible route:
* Each repository has a file: exported_data.json (or something)
* this file contains records for each file (data, text and images) that is to be made available to  others.
* only make files listed in this way would be accessible outside of the internal private git repository, via github or the web application.

* finally only files listed that have the "public" or the general ICE

[2020-02-26 12:09] jensr commented on #4
Maybe a naive question - but is there a reason why all data does not pass through bootstrap and should require at least some metadata?
If this was the case, the data product could default to the most restrictive license of the import data unless explicitly overriden (e.g. you might have high resolution data with personal details as input, and generate a product that is shareable, but as a safety m

[2020-02-26 13:00] colinpmillar commented on #4
Hi - yes, all data will pass through bootstrap and therefore have a data policy attributed to it - so then it is very sensible to assume that all files produced come under the most restrictive licence unless stated otherwise.  That could simplify things a fair bit. Thanks!

[2020-02-26 13:03] jensr commented on #4
I hope it does simplify it - but probably raises some questions too about how to rank licenses  and their restrictions :-)

[2020-03-04 10:35] arni-magnusson opened #5 "Better documentation of the annual proccess of TAF assessments"
# Summary

Will / can repositories be generated automatically at the start of the year ready for the assessment eorking groups

from @wktaf-bn

[2020-03-04 15:46] colinpmillar opened #6 "Develop workflow / logic for a repositories life after publishing"
# Summary

Does it make sense to continue developing a TAF repo after advice has been published.  Or should they be archived and closed to further changes.

[2020-03-04 16:36] colinpmillar opened #7 "Improve taf.ices.dk app manage page list"
# Summary

Currently if there are two or more "types" of assessment they appear as different rows in the list, but all point to the same place.  It would less confusing if there was one line per stock per year

Also, within the page for a stock, where you can select between the different types, there needs to be a feild giving the reason or purpose of the repo, i.e.
* second assessment run for adv

[2020-03-04 18:00] colinpmillar opened #8 "Please write a TAF cheat sheet!"
With steps as shown in the workshop, beginning from an empty repository,
And explaining the git stage, commit pull and push steps.

[2020-03-05 08:41] colinpmillar opened #9 "Write a presentation to show the ices.dk pages linking to TAF and GitHub pages"
# Summary

Many are the Workshops struggle to navigate through the web of github pages and links. To fix this it should require one or two slides possibly presented at the first day EG presentation from the secretariate showing the pages:
* http://ices.dk/marine-data/tools/Pages/Software.aspx
* http://ices.dk/marine-data/assessment-tools/Pages/transparent-assessment-framework.aspx

and how to navi

[2020-03-05 09:06] colinpmillar opened #10 "Feature request - allow for a change of name in a repository after creation"
# Summary

A user would like to be able to change the name of the repository from:

ices-taf/2020_pra.27.3a4a_assessment

to

ices-taf/2020_pra.27.3a4a_assessment-advice2020

This will likely come up again, but may not be a high priority.

[2020-03-30 12:16] colinpmillar opened #11 "Common method for biomass survey indices used for Category 3"
# Summary

A common method for calculating biomass survey indices used for Category 3 advice should be developed and implemented in TAF.

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-03-30 12:17] colinpmillar opened #12 "Implement DATRAS methodology for calculating survey indices for Category 1"
# Summary

The current DATRAS methodology for calculating survey indices for Category 1 stocks should be made available in TAF to improve transparency.

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-05-01 15:04] jensr commented on #10
Should this be a documented naming convention that takes account of this? Or is it a relatively rare occurrence?

[2020-05-01 15:11] colinpmillar commented on #10
It came up due to the nameing convention including an almost free text feild.  Specifically we had:

1. {year}_{stock_code}_assessment
2. {year}_{stock_code}_assessment_advice2021

and the advice 2021 part is free text to allow the users to create multiple repos within a type.  In this case the full assessment comprises 2 assessments, one for advice in 2020 and the other for advice in
2021.  After

[2020-05-15 11:48] colinpmillar opened #13 "Define a list of repository types and formats"
# Summary

Two tables
1. Table of type of analyses - stock assessment etc.
2. Table of formats / contracts

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-05-15 11:49] colinpmillar opened #14 "Userhandbook"
# Summary

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-05-15 11:49] pdlynch opened #15 "TAF video guides"
# Summary
It might be nice to have a screen-capture video(s) that walks a user through the steps for using TAF from start to finish. If needed, possibly multiple videos for the various TAF types.

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-05-15 11:52] colinpmillar opened #16 "How is data published from a TAF repository"
# Summary

Does every repository need a DOI
Is the whole repository given a DOI

# task list

- [ ] consider the metadata requirements
- [ ] ...

# related issues

[2020-05-15 12:07] colinpmillar opened #17 "Ideas on how to increase community involvement in TAF development"
# Summary

* Content is driven by community.  TAF is a facilitation, providing a framework.
* How to increase contribution to the framework by the community.

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-05-15 12:08] colinpmillar commented on #1
A section on project management would be useful, comment from @pdlynch

[2020-05-15 12:18] davidcurrie2001 opened #18 "Check proposed RDBES user roles fit with TAF"
# Check that the proposed RDBES user roles will actually work within TAF

# task list

- [ ] ...
- [ ] ...

# related issues

[2020-05-15 12:20] colinpmillar opened #19 "TAF Presentation to DIG 2020"
# Summary

# task list

- [x] include summary of sensitive data access
- [x] summarise resonses back to WGTAFGOV

# related issues

#1 Manifesto Completion

[2020-05-15 13:08] colinpmillar commented on #14
from @arni-magnusson:
For the user, there might be three topics to cover:
1. icesTAF (how to use the R package)
2. TAF Server (how to use the web app)
3. On a higher level, what TAF is about and an example (summary and tutorial)

[2020-05-15 13:09] arni-magnusson commented on #14
For the user, there might be three topics to cover:
1. icesTAF (how to use the R package)
2. TAF Server (how to use the web app)
3. On a higher level, what TAF is about and an example (summary and tutorial)

[2020-05-15 13:52] colinpmillar opened #20 "Collate user feedback"
### Summary

Just an idea, as we do get potentially uefullfeedback via email, and it would be good to collate somewhere.

### related issues

[2020-05-15 13:53] colinpmillar commented on #20
The ... [assessment] code is in github following the TAF structure.

However, I’ve to say that the assessment process is usually not as clean and simple as it seems or as it is in some cases. In the data compilation process there are always problems that make you writing quick and dirty code, some countries not uploading their data into intercatch, other making historical data revisions…. In the m

[2020-06-03 12:29] odontaster commented on #14
@colinpmillar @Milldaz @arni-magnusson

There are only 5 handbooks in ICES library:
- Smartdots software, very specific on the use of this software, screenshots etc
- Smartdots web api, technical description
- Smartdots web api manual
- Guidelines for VMS data call, very descriptive on the step by step, R installation and so on
- Best practice for data management

I don't see a clear common struct

[2020-06-03 12:40] odontaster commented on #14
Suggested structure for TAF handbook, as points in the table of contents:
1. What's TAF, link to manifesto, general description, app, github etc

2. Types of repositories according to advice products
2.1. Stock assessments
2.2. Other advice products, Fisheries Overviews, other?
2.3. Data products feeding into the other two, f.ex. Survey indices?

3. User set up, log in etc.

4. Repository setup, w

[2020-06-03 13:28] colinpmillar commented on #14
I think that's a great start and great to move forward.  We also have a wiki page: https://github.com/ices-taf/doc/wiki that we can either link to, or steal material from and combine into one doc.  Will leave that for later.

I thought we could write it as a Rmd document:
https://github.com/ices-eg/WGTAFGOV/blob/master/user_handbooks/user_handbook.Rmd

I ahve set up a github action to build the ht

[2020-06-03 13:47] arni-magnusson commented on #14
Thanks for pointing the way forward, Adriana, this looks great! We could merge Users and Repositories into one section, and have the icesTAF package at the section level:

1. What is TAF
1.1 General description and Manifesto (#1)
1.2 The TAF Server (web app)
1.3 icesTAF (R package)
1.4 TAF Repositories on GitHub

2. Types of repositories according to advice products, linked to issue #13
2.1. Stock

[2020-06-03 15:07] colinpmillar commented on #14
**Wondering if need a section on the icesTAF package...**

The logic and workflow is heavily tied to the R package at the moment, so it doesnt make sence to present this in its own section, probably better throughout the document.  We write about it in the opening section "what is TAF", then all the code examples throughout will use the icesTAF functions.  The whole docuent is essentially an exten

[2020-06-05 12:22] jensr commented on #10
A couple of daft questions maybe - but perhaps the naming convention should be made a little broader as well (e.g. if TAF is begin used for other types of assessments?
Also is year = the year in which you are running the assessment or the year you are assessing?

Perhaps widening the scheme to:
year = year of activity/work - not representative of the data or forecast period
EG = name of expert gro

[2020-06-16 13:27] #19 closed

[2020-06-18 09:45] colinpmillar opened #21 "Look into using git lfs for large files"
### Summary
git-lfs is used to version control large files in a git repostitory.  It could be a solution to holding large input files, e.g. in acoustic index calculation repositories

### task list

- [ ] look into how to install and use git-lfs in windows server from c#
- [ ] look into how much expertise users will need to work with git-lfs

from @iagomosqueira

[2020-06-19 09:36] arni-magnusson opened #22 "General improvement to Landing Page: Links etc."
Can we make the Gists page more visible, easier to find:
https://gist.github.com/ices-gists

[2020-06-19 11:42] arni-magnusson commented on #22
Gists are perhaps not very straightforward for people to contribute to.

We could consider using a repository instead? The Gist format has some benefits, though...

[2020-06-19 11:43] arni-magnusson commented on #22
ices.taf.dk should have a link to TAFGOV

[2020-06-24 08:17] colinpmillar opened #23 "Access rights for ACOM, web conferences and advice drafting groups"
### Summary

ADGs and web conferences may need to be able to look into the code and results from individual assessments.  A decision on who can access what needs to be decided. This should be considered by ACOM, as it may be overkill to allow all ACOM members full access to all assessment repositories.

### task list (draft - to be reviewed by TAFGOV)

- [ ] Work out the requirements - code, input

[2020-06-24 09:22] colinpmillar opened #24 "ICES news article on TAF"
### Summary

* **background intro** information flow diagram and a very short introduction
* **Training Workshops**, who are we doing them for, who many have we done and any in the pipeline
* **What is TAF being used for**
  * Stock assessments and forecasts
  * Mixed fisheries
  * survey index calculations
  * Fisheries overviews
  * Some technical services and special requests
* Currently workin

[2020-06-24 10:14] jensr commented on #24
Looks good to me in terms of topics - Is TAF well enough established now that we assume everyone knows what it is - or is it still work including the information flow diagram and a very short introduction?

[2020-06-24 10:17] jensr commented on #23
Does github support group permissions? E.g. can you establish groups for ACOM reviewers and then jsut add a single group to permissions? Not sure if github has a feature like that, and if it can be used to link across the ICES/ActiveDirectory type structure.

[2020-06-24 10:29] colinpmillar commented on #23
Yes we can :) this is how we are starting to work now - we have groups (or teams in GH parlance) and the membership is based on the mebership in the ICES meetings system (RCT).  We have developing systems that monitor the ICES list of members and add or remove from the github teams (note the word developing, there are still teathing problems).

I will need to understand how reviewers are recorded

[2020-06-24 10:31] colinpmillar commented on #24
https://github.com/ices-eg/WGTAFGOV/issues/24#issuecomment-648731294 good idea! Have updated the list

[2020-06-24 10:54] clordan commented on #23
My strong preference is to make all final assessment repositories available as read only to all ACOM members and alternates in advance of the ADG and WC.  Observers and non-ACOM participants should only be allowed to see the repos pertaining to their ADG.

[2020-06-24 10:59] clordan commented on #24
I would also profile other advice products using TAF e.g WGSFD. Otherwise looks good.

[2020-06-24 12:15] neil-ices-dk commented on #24
Hi Colin/Arni - is it a news article or a newsletter you are aiming for; the above list is good and comprehensive but it doesn't have a specific focus, other than generally highlighting TAF and the ongoing work. This is fine, if this is what you intend. You could also consider a different approach and focus in on either a specific (new) use case or something topical i.e. the 3 most commonly asked

[2020-06-24 12:30] Terhinator commented on #24
Hi Neil, we were thinking of writing a news article which can be published in the beginning of July. It can also be included in the July newsletter, which won't be out until the end of the month, if you think that's useful?
I like the idea of 3 most commonly asked questions - will talk to Colin & Arni about that!

[2020-06-24 12:49] neil-ices-dk commented on #24
thanks @Terhinator - you missed my point on the newsletter, what i meant was the table of contents above looks like a standalone TAF newsletter ;)

[2020-06-24 13:02] Terhinator commented on #24
Ah, ok :P I like your "3 questions" approach, so I'll work with that with Colin & Arni :)

[2020-06-25 10:08] colinpmillar commented on #2
Raisied again during discussions with WGMIXFISH

[2020-07-02 08:45] colinpmillar commented on #24
I think we will produce two items from this issue
1. a fun article that piques peoples interest for the website
2. A more comprehensive "TAF news letter / flyer"

We will do 1. just now, and 2. after summer

[2020-08-25 07:40] colinpmillar commented on #23
Discussions with Mark DC: agreed

[2020-10-05 09:15] colinpmillar commented on #14
Do you think we can develop this as a wiki page, and produce a pdf / html doc from it at a later date?

[2020-10-08 09:39] colinpmillar commented on #24
Coming back to this:
Contact Celine about TAF news letter.

[2020-10-08 09:41] colinpmillar commented on #24
Recieved nice comments from three users about the TAF and the workshops :) will be putting these out on social media rather than a short article

[2020-10-08 10:04] neil-ices-dk commented on #24
I've just had Celine in my office wanting input for the ICES annual report (for tomorrow....). So if you have something you want to shout about i.e. establishment of WGTAFGOV or the manifesto or the workshops etc. then write a few sentences and we'll send it on ✍️

[2020-10-26 10:45] nilsolav commented on #16
The APIs and standard outputs should also be a apart of this task.

[2020-10-26 10:51] colinpmillar commented on #1
@colinpmillar
- [ ] look at sensitive data and metadata section
- [ ] move annex 1 to new issue - add question about metadata for taf types

[2020-10-26 12:44] colinpmillar opened #25 "Metadata fields for TAF Repositories"
### Summary

Define metadata feilds for TAF repositories

### task list

- [ ] ...
- [ ] ...

### related issues

[2020-10-26 12:46] colinpmillar commented on #25
from @jensr

Fields for the repository level metadata:

Parent repository and commit tag.

* Name (1) : naming convention required.
* Type (1): Vocab of types of repositories? E.g. Final advice, pre-processing, Benchmark, Ecosystem overviews, other assessments….. Should be a vocab on ices server.  Possibly use the existing assessment types? (Assessment Purpose Vocab?)
* Temporal coverage (1 range)

[2020-10-26 12:47] colinpmillar opened #26 "Metadata profile for input data"
### Summary

Metadata profile for input data

### related issues

#25

[2020-10-26 12:48] colinpmillar commented on #26
from @jensr

* Name/Title
* Source: (URL from ICES Service or storage area, or external DOI/PID)
* Temporal coverage
* Spatial coverage
* Originator?
* Citation?
* License (to distinguish what can be published openly)

[2020-10-26 12:49] colinpmillar commented on #1
moved metadata description development to #25 and #25

[2020-10-29 08:41] iambaim commented on #25
Hi @colinpmillar,
Do you think we need to put the license for the repo itself and the output data in this metadata?

[2020-10-29 09:22] colinpmillar opened #27 "Propose options for default code licenses"
### Summary

Default License:

* MIT - https://choosealicense.com/licenses/mit/

Suggested options:

- [ ] EUPL
- [ ] MIT
- [ ] GPL-3

see also:
https://choosealicense.com/licenses/

[2020-10-29 11:00] colinpmillar commented on #26
suggest to combine this and #25

[2020-10-29 11:10] pdlynch commented on #27
Could CC work for code given that it's suggested for data?

[2020-10-29 11:11] colinpmillar opened #28 "Develop an working example of populating SAG from TAF"
### Summary

Develop a complete pipeline from data to SAG

### task list

- [ ] develop a data format readable by SAG
- [ ] develop a list of metadata records required for the output
- [ ] last publication step

### related issues

[2020-10-29 11:23] colinpmillar commented on #14
@ghislainices suggests thinking of ways to involve the community in the development of the user handbook.  How can we move this forward.

[2020-10-29 11:23] colinpmillar commented on #14
Agree to set up a subgroup of users to take this forward.

[2020-10-29 11:34] jensr commented on #13
Tags have now been added for different types of TAF repos replaced in #1

[2020-10-29 11:41] colinpmillar opened #29 "Maintain a rotating list of training workshops"
### Summary

Create a list of workshops and proposed dates.

### related issues

[2020-10-29 11:42] colinpmillar opened #30 "Provide a summary of the status of stocks in TAF"
### Summary

A basic dashboard output for example

### task list

- [ ] ...
- [ ] ...

### related issues

[2020-10-29 11:42] colinpmillar opened #31 "WGTAFGOV to monitor number of stocks assessed using TAF"
a basic dashboard for example

[2020-10-29 11:59] colinpmillar commented on #27
CC recommend not to use thier licenses for code, at least thats what they suggested last time I looked it up:
https://creativecommons.org/about/program-areas/software/

they suggest an open source license, like GPL or MIT - https://opensource.org/licenses/

[2020-10-29 13:24] pdlynch commented on #27
Thanks. I found that language. This is helpful.

[2020-10-30 09:35] nilsolav opened #32 "information on how to contribute should be explicitly stated in the github pages."
### Summary
There is a need to review the guidelines on how to contribute to the project. These should be explicitly stated in the github pages.
### task list

- [ ] Review current guidelines
- [ ] Refine the guidelines, if necessary.

### related issues

[2020-10-30 09:46] nilsolav opened #33 ""Bootstrap" and "model""
### Summary
The use of the terms "bootstrap" and "model" in the TAF repos are either to limited or may cause confusion.

We have also had a request from some in the RDBES-EST group to rename “model” to “method” or “estimation” to reflect that some repos will be running design based estimators not model based, but most repos will be doing some form of estimation or applying a method of some kind. W

[2020-10-30 11:56] colinpmillar commented on #13
add MSE as a type

[2020-10-30 12:18] jensr commented on #13
@colinpmillar  will this be set up as an ICES Vocab that TAF draws from?

[2020-10-30 12:54] colinpmillar commented on #13
Yes - that would be ideal - I would be happy to aim for that.

[2020-10-30 12:54] iagomosqueira commented on #33
I quite favor `boot.R`, as a shorter substitute for `bootstrap.R`.

Another option starting with B is `build.R`.

And better keep it as one word, no spaces in filenames is much safer in Linux and R.

[2020-10-30 13:06] nilsolav commented on #33
Agree. And by using "boot" we will also keep the "history" and avoid creating further confusion.

[2020-10-30 15:19] iambaim commented on #33
I seconded `boot`. Like when we `boot`a computer, except here we `boot` the DATRAS environment.

[2020-12-15 10:42] colinpmillar commented on #29
Current list of planned and proposed workshops

* WKTAF for acoustic indices (will be part of WGIPS) - Jan 2021
* WKTAF for WGMIXFISH - Feb 2021
* WKTAF for ACOM - 1st quarter 2021
* WKTAF for AFWG - TBD
* WKTAF for Fisheries and Ecosystem overviews - TBD

[2020-12-15 12:25] #1 closed

[2020-12-15 12:26] colinpmillar opened #34 "Publish Manifesto"

[2020-12-15 12:37] colinpmillar opened #35 "Refactor user interface"

[2020-12-15 12:39] iagomosqueira commented on #8
I am using the template here

https://github.com/rstudio/cheatsheets/tree/master/latex

for an FLR cheatsheet, might be good to use here.

[2020-12-15 12:40] colinpmillar commented on #14
provide overview of user interface #35

[2020-12-15 12:42] colinpmillar opened #36 "Ability to 'sign off' on a TAF assessment project"

[2020-12-15 12:50] colinpmillar commented on #36
* It could be sensible, to simply have a sign off, and indicating to upstream users that it is a safe / quality source.
* the upstream user can select which signed off project outputs to use.

[2020-12-15 12:59] #24 closed

[2020-12-15 13:07] colinpmillar commented on #16
See manifesto - we will not publish eacg repository with a DOI
https://htmlpreview.github.io/?https://github.com/ices-eg/WGTAFGOV/blob/master/formatted_docs/taf_manifesto.html

If a subset of a data product from a TAF project is to be published, it is a separate process, much like publishing documents or
reports. Alternatively, for the stock assessment TAF type, many of the end results will be pub

[2020-12-15 13:07] #16 closed

[2020-12-15 13:12] colinpmillar commented on #22
link to user handbook and new interface @colinpmillar  and @neil-ices-dk

[2020-12-15 13:15] colinpmillar commented on #15
Record TAF workshops that are done online, and with minimal editing can be dissemintated (youtube)

[2020-12-15 13:15] colinpmillar commented on #15
links to #29

[2020-12-15 13:20] colinpmillar commented on #18
@colinpmillar this links to on going work on developint the ICES user store API

[2020-12-15 13:29] colinpmillar opened #37 "Finalise WGTAFGOV report"

[2020-12-15 13:29] colinpmillar opened #38 "Presentation for WGTAFGOV at WKTAFREP etc."
* How does the gov group work
* how do people submit requests and feedback

[2020-12-15 14:12] neil-ices-dk commented on #22
do we have a user handbook for TAF?

[2020-12-15 14:16] jensr opened #39 "Process for linking/relating TAF repositories"

[2020-12-15 15:51] colinpmillar commented on #22
it is priority 1 :) #14

[2020-12-15 15:59] neil-ices-dk commented on #22
ok so what are we proposing to link to?

[2020-12-15 16:11] nilsolav commented on #22
I think the web page should link to any relevant information of the TAF system. This includes the manifesto, the actual TAF system and the user manuals (to be produced).

Nils Olav

[2020-12-15 20:18] neil-ices-dk commented on #22
fully agree - i just need the list of links (show me the money 💵 )

[2021-01-11 09:06] colinpmillar opened #40 "Test request"
### Summary

blh blah

### task list

- [ ] ...
- [ ] ...

### related issues

[2021-03-08 07:18] iagomosqueira commented on #28
What is missing from what can be already done using something like this:

https://github.com/ices-taf/2020_sol.27.4_forecast/blob/master/output.R#L99

[2021-03-08 08:16] colinpmillar commented on #28
Thanks @iagomosqueira! Maybe we can have a quick catch up @Milldaz this afternoon or tomorrow on this?

[2021-03-08 08:19] Milldaz commented on #28
Sounds good. Might be worth having @cmspinto there too

[2021-03-08 08:26] iagomosqueira commented on #28
Today after WGTAFGOV would be perfect, but any other time is OK.

[2021-03-08 08:30] colinpmillar commented on #28
I see this as linked to the work of WKREPTAF which developed a list of standard outputs for a stock assessment project type. I will like to the report when it is published.

[2021-03-08 08:35] colinpmillar commented on #13
I think this issue will spawn an issue for each project type, and it will be important to manage these and make them available for people to view and review.

Recently I had a day with the WGMIXFISH group who have quite a complex of TAF projects (see below).  We tried at this meeting to develop a list of standard outputs, but this was deffered to a later MIXFISH meeting, perhaps having this added

[2021-03-08 08:39] colinpmillar commented on #13
Also in addition, the WKREPTAF workshop began developing a list of standard outputs for stock assessments.  I think we should consider developing a form and perhaps a ToR for groups to that are the main governors of a TAF project Type.  Examples that come to mind are:
* WGACOUSTICGOV - for the acoustic survey indices.  This was raised at a recent meeting, and has been deferred.
* WGMIXFISH
* WKREP

[2021-03-08 08:41] colinpmillar commented on #13
One more point is a list of potential project types, or groups of types, a initial list, based on current use cases is:

![image](https://user-images.githubusercontent.com/1502848/110296224-5fbd8080-7ff2-11eb-9489-ed2a3bda3bfb.png)

[2021-03-08 09:34] #38 closed

[2021-03-08 09:38] colinpmillar commented on #34
User handbook series

[2021-03-08 09:45] colinpmillar commented on #23
@colinpmillar to check with some ACOM members that they can access the assessment repositories.  This can be done during ACOM meeting 9/3/2021-10/3/2021

[2021-03-08 10:29] colinpmillar commented on #28
Had a quick meeting on this and have updated the task list in the issue description

[2021-03-09 17:50] nilsolav commented on #37
The report is sent for review/approval.

[2021-03-10 08:01] nielshintzen opened #41 "Development template stock data TAF"
### Summary
Developing templates for stock data and report outline to be used in conjunction with TAF. These follow from the results of WKREPTAF and agreed by ACOM on the 9th of March 2021.

### task list

1. Create a tool that generates markdown-based report templates
2. Create a tool that generates a stock category specific template to be used to submit essential stock data to TAF

Development t

[2021-03-10 14:50] jensr commented on #34
Yep, I think that makes sense

[2021-04-20 18:44] neil-ices-dk opened #42 "Number of stocks in TAF dropping off between 2019 -> 2020"
### Summary
While preparing status reporting for Bureau, I updated the metrics for TAF and noticed something rather worrying (see slide below), which I also reported to Bureau. I know Mark has already raised this after Bureau in the ACOM leadership meeting, and I’m now following up with suggesting we form a response based around WGTAFGOV to this challenge.

Colin and I have had a small brainstorm

[2021-04-28 09:01] neil-ices-dk commented on #42
**1) discussion on background cause**
online workshops - tend to be less well attended, the physical workshops are a better format for getting people comfortable with Git/R etc.

Is the system too complex to onboard experts?
- is the technical competence of experts sufficient for them to work within the system?
- the experts are not seeing this as part of their operational workflow, but as an addi

[2021-05-03 08:56] colinpmillar commented on #41
As raised by @dorleta yet there is no formal rmarkdown template for the report. ACOM agreed that we need to make one, and the TAF governance group will be approached to help.

My summary of what is available is an rmarkdown template to create word documents developed for the smartdots reports, but is now out of date in terms of style.  and another template developed by @iagomosqueira.

Perhaps a w

[2021-05-03 10:30] iagomosqueira commented on #39
Could this work via DATA.bib? It would require the relevant output from one repository (e.g. assessment) to be available either via github or TAF server for other repositories (e.g. forecast). For getting via github this would require output/* to be pushed to some branch, maybe other than master?. For the second option we would need TAF server to export output objects to a public URL, which I am n

[2021-05-03 10:46] colinpmillar commented on #39
I think this is a good idea, if you have time to discuss this we could prehaps set up a meeting next week to sketch out the idea?

[2021-05-05 07:24] Lotte-ices-dk commented on #41
Update from Advice; Jette will be joining the team to work with this; could you invite her to this Git Hub and potentially set up a kick-off meeting?

[2021-05-05 11:50] colinpmillar commented on #41
Hi @iagomosqueira  and @JetteFredslund, The focus on this part is getting the main sections and the formatting in good shape, fonts, indents, table format etc.  I will email you both to find a good time for a kick off meeting.
Thanks both!

[2021-05-06 13:47] neil-ices-dk opened #43 "Survey of TAF adopters and non-adopters"
### Summary
online user survey: to identify the top 3 hurdles i.e. habits, missing functions, skills, training etc.

### basic information

1. Who they are [email address]
2. Role (drop down): stock coordinator; assessment coordinator; other (free text)
3. stocks (drop down list) - multiple select
4. Are you a current user of taf.ices.dk? Yes; No; i have logged in but not used it;

### questions:

[2021-05-06 13:49] neil-ices-dk commented on #43
@nilsolav, @clordan, @ghislainices, @Lotte-ices-dk can you take a look at the above and make any edits or comments so we can then setup a short survey to capture this information - thanks (Neil and Colin)

[2021-05-07 06:54] nilsolav commented on #43
Re point 6: Perhaps add something about the advantage of i) piping the information through to SAG, ii) automatic reporting, and possibly other carrots?

[2021-05-07 09:46] ghislainices commented on #43
Hi,
Regarding question 5: maybe add the following:  unclear on the time investment required or the benefits.
Aside from that, it looks good to me.
Ghislain

[2021-05-07 12:07] neil-ices-dk commented on #43
Thanks Ghislain, now added to Q5 👍

[2021-05-07 13:18] Lotte-ices-dk commented on #43
Looks good - could we add something along the lines of TAF becoming a tool where you don't necessarily need to be a super-coder in order to use it? Just said more elegantly...

[2021-05-07 13:58] Lotte-ices-dk commented on #43
@neil-ices-dk, cool, then yes, it should be spelled out ;-)

[2021-05-07 13:59] neil-ices-dk commented on #43
@Lotte-ices-dk care to suggest a phrasing?

[2021-05-07 14:10] neil-ices-dk commented on #43
😢 😢  HR have been alerted 👮

in the meantime i have updated the survey 🥇

[2021-05-10 12:26] clordan commented on #43
7. Direct export of outputs into advice sheets\products and EG reports

[2021-05-10 12:56] neil-ices-dk commented on #43
@colinpmillar and @clordan how does this relate to SAG; if the process is TAF->SAG->Advice Sheet would this in part answer that development, and are we really talking here about full mark down reports for EG's etc. which would require an entirely new process away from the traditional EG pubs templates

[2021-05-27 12:51] neil-ices-dk commented on #43
hello @nilsolav, @clordan, @ghislainices, @Lotte-ices-dk and @colinpmillar the draft survey is online and ready for a test run - could you try and fill it out and reply in here if anything needs adjusting - thanks!

[TAF survey draft](https://forms.office.com/r/2jJenZemZK)

[2021-05-27 13:24] nilsolav commented on #43
I added my  (more or less) random response. I think this looks good.

Nils Olav

From: Neil Holdsworth ***@***.***>
Sent: torsdag 27. mai 2021 14:52
To: ices-eg/wg_WGTAFGOV ***@***.***>
Cc: Handegard, Nils Olav ***@***.***>; Mention ***@***.***>
Subject: Re: [ices-eg/wg_WGTAFGOV] Survey of TAF adopters and non-adopters (#43)

hello @nilsolav<https://github.com/nilsolav>, @clordan<https://github.co

[2021-05-28 12:13] neil-ices-dk commented on #43
thanks all, looks like it works 📈

@colinpmillar will you liaise with Jette next week to get this broadcasted on all frequencies 📶

![image](https://user-images.githubusercontent.com/23527005/119982273-eb75f600-bfbe-11eb-8644-0df198fff8d9.png)

[2021-06-03 06:12] nilsolav commented on #43
Do we set a time line? I think it would be good to have a WGTAFGOV meeting after the deadline, and ideally before the summer holidays. Suggestions?

Nils Olav

From: Neil Holdsworth ***@***.***>
Sent: fredag 28. mai 2021 14:14
To: ices-eg/wg_WGTAFGOV ***@***.***>
Cc: Handegard, Nils Olav ***@***.***>; Mention ***@***.***>
Subject: Re: [ices-eg/wg_WGTAFGOV] Survey of TAF adopters and non-adopters (

[2021-06-03 08:30] neil-ices-dk commented on #43
when are summer holidays in Norway - we can then work the timeline backwards from that? @nilsolav

[2021-06-09 09:42] JetteFredslund commented on #43
Hello everyone - I'm being asked (internally) for dates for the public meeting calendar - have you guys decided on the next meeting date?

[2021-06-09 10:15] nilsolav commented on #43
I will leave for holiday June 25th. I suggest a TAFGOV meeting between 21st to 25th. Here's a doodle: https://doodle.com/poll/bcc6vk4swg3t6m76?utm_source=poll&utm_medium=link

[2021-06-10 11:27] neil-ices-dk commented on #43
survey is now out on social media and by email, the link is here if you want to target anyone specifically:

[https://forms.office.com/r/2jJenZemZK](https://forms.office.com/r/2jJenZemZK)

We already have 21 responses, and a picture is starting to emerge:

![image](https://user-images.githubusercontent.com/23527005/121517358-917a2500-c9ef-11eb-8011-8c7d756f8564.png)

[2021-06-18 09:14] neil-ices-dk commented on #43
preliminary findings compiled in presentation for June '21 TAFGOV meeting
[presentation of TAF Survey](http://community.ices.dk/ExpertGroups/WGTAFGOV/2020%20Meeting%20Docs/05.%20Presentations/TAF-survey-18JUNE2021.pptx)

[2021-06-18 09:17] JetteFredslund commented on #43
Hello all - I had a look at the doodle Nils Olav posted above. It looks like everyone is available Monday 21 June - would you like to set that date in stone?
Jette

[2021-06-18 09:22] neil-ices-dk commented on #43
@JetteFredslund Colin is not available on Monday 21

[2021-06-18 09:26] JetteFredslund commented on #43
Do you know if he is available Friday 25? That's the next best option. However, Iago cannot make that date. Would be good to settle on a date soon, right?

[2021-06-18 11:54] neil-ices-dk commented on #43
@iagomosqueira to follow-up on the analysis of those that claimed lack of time:

- for the small sample of non-users the response is mixed
- for the stock assessors, there is a clear signal that 'time' in whatever way that is meant is an issue

![image](https://user-images.githubusercontent.com/23527005/122557054-8e5ce580-d03c-11eb-9fc1-c099910ec125.png)

[2021-06-18 12:55] neil-ices-dk commented on #43
News piece and call to action on ices.dk
[https://www.ices.dk/news-and-events/news-archive/news/Pages/TAF.aspx](https://www.ices.dk/news-and-events/news-archive/news/Pages/TAF.aspx)

will be re-run so it appears at the top of the newsfeed for the next few weeks at least; do we have an idea of how many responses we would consider as acceptable - 50, 75??

![image](https://user-images.githubusercont

[2021-06-18 13:55] iagomosqueira commented on #43
I should be available for a call on Friday 25

[2021-06-23 08:48] colinpmillar commented on #43
I can do the 25th. SOrry for the lack of response up till now!

[2021-07-06 07:58] neil-ices-dk commented on #43
updated results from TAF survey, now with **42** responses, which has not changed the signals since the June snapshot.
[06 JULY Presentation of TAF survey](url)http://community.ices.dk/ExpertGroups/WGTAFGOV/2020%20Meeting%20Docs/05.%20Presentations/TAF-survey-06JULY2021.pptx

[2021-10-04 07:48] neil-ices-dk opened #44 "Results of COVID19 survey and recommendation on quality of advice and the support/use of TAF"
### Summary
The survey on COVID19 recommendations has just closed, with 113 responses across EG's, Committees, Secretariat and early career scientists. One of the recommendations was specific to quality of advice and the support/use of TAF, [see recommendation ](https://www.ices.dk/news-and-events/news-archive/Documents/2021-09_BCSGC19-FINAL-DRAFT-REPORT-SUMMARY_ONLY_v6.pdf)

Below is a table of r

[2021-10-26 12:20] colinpmillar opened #45 "WKTAF for acoustic indices (will be part of WGIPS)"
January 2021

[2021-10-26 12:21] colinpmillar opened #46 "WKTAF for WGMIXFISH"
Feb 2021

[2021-10-26 12:23] colinpmillar opened #47 "WKTAF for WGNSSK"
After the WGNSSK this year there was talk of a possible TAF workshop. Any news on that? If it’s happening at some point I’m interested in joining. I’m especially interested in learning more about how to use GitHub.

[2021-10-26 12:23] colinpmillar opened #48 "WKTAF for Secretariat"

[2021-10-26 12:23] colinpmillar opened #49 "WKTAF for Fisheries and Ecosystem overviews"

[2021-10-26 12:23] colinpmillar opened #50 "WKTAF for AFWG"

[2021-10-26 12:23] colinpmillar opened #51 "WKTAF for ACOM"

[2021-10-26 12:47] colinpmillar opened #52 "Option to check packages needed and install them"
A WGCSE colleague was trying to run;
https://github.com/ices-taf/2021_nep.fu.2021_assessment for stock audit last week.
But couldn’t re-run the scripts – where it started off well, but then had some problems compiling the htmltools package which they didn’t have time to try and sort out this.

It  could be version problem - Where they have different R or package versions, Or not have all the packa

[2021-11-05 09:57] colinpmillar opened #53 "Are SS3 assessments using SS3 for forecasts? and how are catch optons tables created"

[2021-11-05 09:57] colinpmillar opened #54 "Find out how SAM forecasts are extracted for catch options tables. Can we automate for advice DB"

[2021-11-05 09:58] colinpmillar opened #55 "WKREF1 propose all TAF stock assessment repos produce an FLStock object"

[2021-11-19 11:03] colinpmillar commented on #28
Progress is being made on the internal workings (DB and api requirements) here:
https://github.com/ices-taf/doc/issues/277

[2021-11-19 11:03] colinpmillar commented on #36
Progress is being made on the internal workings (DB and api requirements) here:
https://github.com/ices-taf/doc/issues/277

[2021-11-23 11:03] colinpmillar opened #56 "TAF @ WGHANSA"
Present TAF @ WGHANSA and develop a plan for getting all stock into TAF by the following meeting

[2021-11-23 11:06] colinpmillar opened #57 "WKTAF for WGHANSA"
At the 2nd WGHANSA #56 in 2021 the chair proposed a plan to get all WGHANSA stocks into TAF by 2022.

We identified some training needs, most required only time, but one or two needed general GitHub training and others some technical help specific to the model they were using (ASPIC and GADGET)

[2021-11-23 11:33] colinpmillar opened #58 "Improved documentation for R packages related to TAF"

[2021-11-23 11:42] colinpmillar opened #59 "WKTAF proposal going forward"
Propose a way to capture as wide an audience (but still manageable)

Currently the way we work is to offer a 2 day workshop to an EG, covering Github, gettting data sets into TAF, getting models into TAF, then outputs and plots.

[2021-11-23 11:53] colinpmillar commented on #59
Idea:
* survey stock assessment EGs with three questions, do they need help with:
  - GitHub
  - R and icesTAF package
  - Getting data into TAF
  - Running thier model in TAF
  - Creating TAF and SAG outputs
* also ask what model they are using so we can group together people with the same type of model issues (e.g. uses an executable)

[2021-11-23 13:47] cekv commented on #59
Link to survey:
https://www.surveymonkey.com/r/LZS83JC

[2021-11-24 09:43] nilsolav opened #60 "Presentation for WKAMEMSA"
### Summary
Presented TAF for WKAMEMSA
### task list

[2021-11-24 09:44] #60 closed

[2021-11-24 10:03] #43 closed

[2021-11-24 10:08] #46 closed

[2021-11-24 10:08] #56 closed

[2021-11-24 10:11] nilsolav commented on #29
We are using the project board to maintain the rotating list and use the training label.

[2021-11-24 10:12] #29 closed

[2021-11-24 10:14] colinpmillar commented on #29
Here is the filter applied to the project board:

https://github.com/ices-eg/wg_WGTAFGOV/projects/1?card_filter_query=label%3A%22area%3A+5.+training%22

[2021-11-24 10:20] clordan opened #61 "ACOM December 2021 Presentation"
### Summary
Call to Action at ACOM meeting
Present latest information on TAF uptake within the community
Update on Council decisions
### task list

- [ ] Colin and Colm to develop presentation
- [ ] Colm to present at ACOM 6-8 Dec

### related issues

[2021-11-24 10:21] colinpmillar commented on #59
Proposal from @jensr to hold quarterly workshops on GitHub etc.

@iago suggests trying to pull in advanced users to help

[2021-11-24 10:53] colinpmillar commented on #36
-  Add the review of code into the guidlines for chairs
- decide how this works, do we release code and then review, or is the release the ouptput of the reivew
- One idea is:
  - EG provide ADG with a release of the code and a SAG output  and advice sheet
  - any changes to code required by ADG results in a new code review and release.

[2021-11-24 10:55] davidcurrie2001 commented on #18
Topic will be discussed during WGRDBESGOV annual meeting in Dec 2021.  WKRATIO worked within TAF which could provide useful feedback/examples on RDBES-style repos.

[2021-11-24 10:57] nilsolav commented on #14
Retructure this task and collating it with the other documentations tasks.

[2021-11-24 10:59] nilsolav commented on #22
Merge/restructure this task with the user hand book task.?

[2021-11-24 11:10] nilsolav commented on #59
Plan:
-4 workshops per year
-Different topics planned for each day/time slot so that people can pick and choose according to their needs.
-The timing for the workshops should be aligned with the working groups. Coordinate the timing with the ACOM professional officers.

[2021-11-24 11:12] #44 closed

[2021-11-24 11:19] colinpmillar commented on #53
Approach the ices-taf SS3 user group

[2021-11-24 11:34] nilsolav opened #62 "Check errors that have been identified"
### Summary
Some assessments had errors in them and we would like to see if there are any patterns in these errors and to see if we can write tests for them. focus on errors that makes a difference.

### task list

- [ ] ...
- [ ] ...

### related issues

[2021-11-24 11:35] nilsolav commented on #62
Incorporate quality targets from WGQUALITY?

[2021-11-24 12:29] colinpmillar commented on #59
possibly approach the TAF reporting ambassadors for help with WKTAF
https://github.com/orgs/ices-taf/teams/taf-reporting-ambassadors/members

[2021-11-26 10:29] colinpmillar commented on #36
@cekv to contact Lotte and set up a meeting to discuss initial steps

[2021-12-05 11:04] iagomosqueira commented on #33
Could we maybe get this changed in time for the [ICES TC on TAF](https://www.ices.dk/events/Training/Pages/TAF.aspx)?

[2022-01-16 16:50] nilsolav commented on #1
From: Jens Rasmussen <J.Rasmussen@marlab.ac.uk>
Sent: fredag 14. januar 2022 10:09
To: Neil Holdsworth <NeilH@ices.dk>; Handegard, Nils Olav <nilsolav@hi.no>
Subject: Re: TAF manifesto

Hi both & happy New Year

I don't think we have a template for manifestos beyond the heading that were used to shape it in the beginning. But I think it does get edited by secretariat staff for publishing, so I thi

[2022-01-28 10:47] colinpmillar commented on #36
![image](https://user-images.githubusercontent.com/1502848/151533808-d6882923-39b0-427f-8dd1-259e0fd829ee.png)

[2022-01-28 10:50] colinpmillar commented on #28
Work is underway on an icesDATSU package to allow users to check and submit files to DATSU (data checking utility and upload)

[2022-01-28 10:53] colinpmillar commented on #23
User claims are now linked to the updated CRM (content resource managament) system in ICES, and we can identify the groups people are attached to (ACOM, ADGs etc). WHat needs to be done now is to open up the pages and repositories to ACOM and the apprporiuate ADG.

[2022-01-28 10:55] colinpmillar commented on #23
users can check their claims in R using the icesConnect package, installed via:
[code]

then run:
[code]
to see a list of claims

[2022-01-28 10:58] colinpmillar commented on #33
Yes, I think we should set a date and then switch everything over on that date. Given that the TC is now august time, the main consideration is to be before or after the advice season. So, what do we think?

[2022-01-28 10:59] colinpmillar commented on #18
@davidcurrie2001 , do we need a quick meeting about this Dave?

[2022-01-28 11:07] cekv commented on #59
Survey sent to stock assessors regarding their requirements for upcoming TAFWKs, the responses so far has given an indication of at least 3 TAF WKs for 2022 with different TAF requirement.
Also, per request - during Benchmark WKs at least half a day will be set aside for a TAF presentation and assistance with TAF.

[2022-01-28 13:05] #61 closed

[2022-01-28 13:16] colinpmillar commented on #59
We should work to open up the intro sessions given to Benchmark groups to a wide audience. SInce these are online anyway, we can invite people to watch and listen in to these sessions. Or simply make them fully open and advertise

[2022-01-28 13:17] colinpmillar commented on #59
note: include slides on the DIG data profiling tool

[2022-01-28 13:33] colinpmillar commented on #36
Comments from WGTAF:
* concern over increased workload at stock assessment EGs with the additional autiding tasks
* Can we make it less tick box and more review, so an assessment gets a score, and then ADG and ACOM can decide if this is OK
* We don not want to see this as an extra burden
* Perhaps the benchmark workshop has a high level of scrutiny/auditing, but the EG workshop is almost as is tod

[2022-01-28 13:35] nilsolav commented on #31
Colin will run his script and add the result here.

[2022-01-28 13:40] Milldaz commented on #55
Full recommendation:
Within TAF, it is recommended to generate FLStock objects of all final assessments with the attributes that were provided by WKREF1. In cases where probabilistic statements are already included in the advice, the FLR object should also contain the associated uncertainty. This could also be used to test the impact of assessment uncertainty on e.g. estimates of FP.05, and potent

[2022-01-28 13:45] colinpmillar commented on #23
It is important to keep github access and ICES group membership in sync.  this would probably be done using a daily procedure that would add and remove members from the ices-taf and ices-eg group members.

We also need to communicate to ICES community that GitHub access to repos depends on linking your giothub username with your ICES account

[2022-01-28 13:48] PatrickLynch-NOAA commented on #33
Bootstrap changed to Boot
Model changed to Method

[2022-01-28 13:53] colinpmillar commented on #33
If done, send message to user that bootstrap and model are depreciated. and switch to boot and method.

[2022-01-28 13:55] colinpmillar commented on #33
Concerns that there are many dependencies, i.e. training material presentations.

[2022-01-28 13:59] colinpmillar commented on #14
There are some ouputs from workshops that could be added to the wiki:
* example simple repositories
* turn each step into a wiki page?

[2022-01-28 14:05] colinpmillar commented on #14
Documentation page listing each assessment model and the repos showing the code for each.

[2022-01-28 14:07] nilsolav commented on #14
Add the list of TAF examples for different models to the wiki page and advertise it.

[2022-01-28 14:11] nilsolav commented on #22
Goal is to review the landingpage and the examples by nest tafgov meeting.

[2022-01-28 14:13] colinpmillar commented on #22
@colinpmillar and @cekv to arrange meeting with @neil-ices-dk to update landing page

[2022-01-28 14:18] nilsolav commented on #58
By nest tafgov meeting Cecilia and Colin will make a more specific plan for this. We decided that the detailed descriptions should in general go to the wikipage. By nest tafgov meeting Cecilia and Colin will make a more specific plan for this.

[2022-01-28 14:24] colinpmillar commented on #41
Iago has been working on an R package here:
https://github.com/ices-tools-prod/icesdown

[2022-01-28 14:25] jensr commented on #18
Does this relate to #23
Generally about group permissions and management?

[2022-01-28 14:26] nilsolav commented on #18
From Jens: Check how this is implemented for the ACOM access and see if we can use the same technical implementation. Cecilia will follow this up.

[2022-01-28 14:36] colinpmillar commented on #41
links to question #53 and #54

[2022-01-28 14:37] colinpmillar commented on #59
links to previous requests for TAF WKs:
* #57
* #47
* #48
* #49
* #50
* #51

[2022-01-28 14:42] nilsolav commented on #55
Dave will get in touch with the WKREF and see what code are available for this task.

[2022-02-08 08:13] iagomosqueira commented on #55
For any assessment being run in FLR (FLSAM, FLXSA, FLa4a) the FLStock object is already there. For SS3 there is an FLR package (https://github.com/flr/ss3om) to load output and create an FLStock.

I have just coded a function to do it directly from SAM output and input. Not sure where this could go.

What other methods are we missing?

[2022-02-08 08:22] iagomosqueira commented on #55
For the attributes, we will be adding them to an extended class soon, so we will prioritize [this](https://github.com/flr/FLCore/issues/71).

[2022-02-09 10:14] colinpmillar opened #63 "Consolidate TAF online documentation tasks"

[2022-02-09 10:53] cekv commented on #63
ACOM
•	TAF helpdesk
•	TAF training
•	Lack of online documentation
•	Direct import from TAF to SAG
FRSG
•	Help to populate TAF during EG meetings
•	TAF training
•	More support from secretariat – faster response time
•	More accessible and transparent to public
•	General readme file for all WGs – orientation for meetings
•	Better experience sharing (TAF buddies)
•	Set up stock repos ahead of time (be

[2022-02-14 09:40] cekv commented on #59
![image](https://user-images.githubusercontent.com/75067038/153838942-cbd548c4-4f4a-4044-ad05-1ac4546e1ae1.png)

[2022-05-11 11:18] cekv commented on #59
![WKTAF_Agenda_draft](https://user-images.githubusercontent.com/75067038/167837329-65914980-4a7b-4255-8a52-6efc4546adbd.png)

[2022-05-11 12:46] #33 closed

[2022-05-11 12:54] cekv opened #64 "TAF dashboard"
Update dashboard as a shiny application.

This will be more efficient because:
* there are more possibilities for collaboration and support in terms of coding
* reduces workload on the web programming side (ASP NET Core)
* there are more resources to borrow from when updating / adding new features
* can be published on the new ICES shiny cloud server (shiny.io)

Work required:
- [ ] api to provide

[2022-05-12 07:32] cekv commented on #22
The Landing page has changed, but is not published yet, a few more things are needed but will be ready by beginning of June.

[2022-05-12 07:45] neil-ices-dk commented on #22
screen grab of new version
![image](https://user-images.githubusercontent.com/23527005/168018728-bc9f2054-07d7-4e1a-bd4d-8245537ffd32.png)

@cekv it might be a good time to refresh with a new image in the top right

[2022-05-12 07:47] cekv commented on #63
Most of these tasks are ongoing and will be completed by the summer

[2022-05-12 09:27] davidcurrie2001 commented on #18
Hi @cekv  - this doesn't just relate to users uploading/downloading data to the RDBES but to how users will be able to create Intercatch-like estimates from that data using TAF repos.  The roles that are thought to be required are outlined on page 10 of the [2018 WKRDB-URS report](https://www.ices.dk/sites/pub/Publication%20Reports/Expert%20Group%20Report/acom/2018/WKRDB/WKRDB-URS%202018.pdf) - su

[2022-05-12 12:04] colinpmillar commented on #33
we recognise the problem with the terminology, but it is not a high priority at the moment.

[2022-05-12 12:18] colinpmillar commented on #59
* Finalise dates
* Advertise via POs
* Make a page on TAF WKs and link to it from the new TAF landing page

[2022-05-12 12:25] colinpmillar commented on #52
* warn if user uses double colon
* will be published on CRAN at next round of CRAN updates to ices packages

[2022-05-12 12:25] #52 closed, assigned to colinpmillar, arni-magnusson

[2022-05-12 12:57] colinpmillar commented on #28
Get comments on the proposal would be appreciated:
https://github.com/ices-taf/doc/issues/277

@Milldaz @iagomosqueira and anyone else :)

[2022-05-12 12:58] colinpmillar commented on #31
Closed as a duplicate of https://github.com/ices-eg/wg_WGTAFGOV/issues/64

[2022-05-12 12:58] #31 closed

[2022-05-12 13:03] colinpmillar commented on #58
Related to this was a push for publishing several ices R packages on CRAN:
this page has been populated https://ices-tools-prod.r-universe.dev/ui#builds

And the following packages have had thier documentation improved and accepted for publication on CRAN
* icesDATSU
* icesDATSUQC
* TAF
* rct3
* icesConnect

[2022-05-12 13:05] colinpmillar commented on #58
A follow up task is to list all the ices R packages and make a note of the state of the documentation available, e.g.
* function documentation
* Readme.Rmd with worked examples

Then we will list these on the page of R packages linked to from the TAF landing page

[2022-05-12 13:20] colinpmillar commented on #41
Work is ongoing on this:
* Biweekly meetings on progress on a template for producing a stock assessment report
* a 2 day ices training course is planned for after the summer

[2022-05-12 13:37] cekv commented on #14
Work is ongoing to complete this task..

[2022-05-12 13:40] colinpmillar commented on #64
A proposal was made to use the dashboard as a means to assess the state of TAF with respect to the TAF manifesto - a helicopter view

[2022-05-17 13:09] HjalteParner commented on #45
I think this was done by Colin and me performing a TAF session at WGIPS so done and closed.

[2022-05-17 13:09] #45 closed, assigned to colinpmillar

[2022-05-19 08:03] colinpmillar commented on #64
Hi, I have posted a draft dashboard here:
https://ices-taf.shinyapps.io/taf-dashboard/

Current functionality: plots the number of 'complete' assessments by stock in TAF and the total number stocks for a given year. along with a breakdown of stocks implemented by EG.

Other available data:
* file names and details (size)
* commits dates and authors.

Comments and suggestions would be great.

Comme

[2022-05-19 12:25] colinpmillar commented on #36
from @calbersen

I think the workflow in the Miro board seems very reasonable. Are there also guidelines, a grading rubric, or something similar for what to check and how to score?
I think a clear grading rubric would ensure efficient and consistent audits, and make it clear for everyone what is expected, and it can also be used when writing the code - not just to correct it.

[2022-05-19 12:35] PatrickLynch-NOAA commented on #64
Hi Colin...this looks like a pretty slick and simple way to track progress. Would it be useful to also have a cumulative plot? If I understand it, you're plotting a bar for the total number of stocks assessed in a given year, and another denoting those entered in TAF in that year, right? I'm thinking another plot could be the total number of stocks assessed by ICES across years and the total of th

[2022-05-23 10:35] colinpmillar commented on #64
Mark has created a plot from the data which I think we should include on the dashboard:
![image](https://user-images.githubusercontent.com/1502848/169801221-7aed7c56-b6e5-4073-9b4e-2b786fbee174.png)

I will add it and we can see what others think

[2022-05-24 11:39] colinpmillar opened #65 "Write a one page document on what users share with ices and the public when interacting with github"

[2022-08-08 09:27] cekv commented on #59
The first WKTAF was held on the 14 and 15 June.  There were 16 participants from 10 countries.
Next will be held the 13 and 14 of September. A third will be scheduled at the beginning of 2023 (probably February).

[2022-08-08 09:27] #59 closed

[2022-08-08 09:29] cekv commented on #22
New landing page done and published

[2022-08-08 09:29] #22 closed

[2022-08-08 09:29] cekv commented on #14
Work still ongoing.

[2022-08-08 09:34] cekv commented on #15
A few videos on using the TAF R package for stock assessment will be published online by the end of August.

[2022-08-11 08:20] nilsolav opened #66 "Keep track of status/needs for data products used as input to the assessments"
### Summary
Do ICES  have an overview of “data products” by type that is intended to be piped into the assessments? I am thinking of survey indices, catch estimates or any other data input to the assessments? Also, are the calculations scriptable so that we can add it to TAF overview dashboard?

### task list

- [ ] Generate a list of survey indices, catch estimates and other data sets that are us

[2022-08-11 10:31] arni-magnusson opened #67 "Transparent Analysis Framework (TAF)"
### Summary

This is a proposal to broaden the definition of the 'A' in TAF from Assessment to Analysis.

It is an idea that Colin and Arni have discussed in the past, as we happily observe TAF being used in increasingly diverse analyses.

The *benefit* of the change is to better reflect the capability and current usage of TAF, which is no longer limited to stock assessments, as was the case when

[2022-08-11 11:09] cekv commented on #63
Still ongoing - some tasks are partially or fully completed.

[2022-08-11 11:50] colinpmillar commented on #23
We have a system in place where we can manually update groups quickly and easily, the steps in the process are:
* check group membership within ICES systems
* For users who have connected thier GitHub account: invite them to the approprate groups (this includes ACOM)
* For users who have not connected thier GitHub, send an email informing them that if they wich access to GitHub resources to create

[2022-08-11 12:48] neil-ices-dk opened #68 "Overview of Secretariat resourcing plan for TAF in medium term"
### Summary
![image](https://user-images.githubusercontent.com/23527005/184136460-106d4e6d-2927-43d5-90d4-c65258f975c2.png)

following was presented and agreed at ICES Bureau to underpin TAF and ensure it is on firm funding
![image](https://user-images.githubusercontent.com/23527005/184136385-9284d077-eb44-447f-8393-3331e57ab896.png)

### task list

- [ ] ...
- [ ] ...

### related issues

[2022-08-30 09:29] iagomosqueira opened #69 "draft.software to handle packages installed from r-universe"
### Summary

Packages installed using the CRAN-like repositories built by r-universe, are handled as binaries, but they contain a git hash reference in the DECSRIPTION. This could be used to create a SOFTWARE.bib entry that links to github and the hash.

This is done by the [renv](https://cran.r-project.org/web/packages/renv/index.html) package, for example, as explained [here](https://ropensci.or

[2022-09-07 11:29] iagomosqueira opened #70 "draft.software to avoid calls to github API"
### Summary

`draft.software` appears to call apit.github.com even when the git hash in SOFTWARE.bib is matched by the tar.gz package in bootstrap/software. This causes github to stop draft.software from working as the maximum numbers of API requests is reached easiily.

### task list

- [ ] IDENTIFY what request is made to api.github.com
- [ ] STOP this request if not necessary when SOFTWARE.bib

[2022-09-09 10:17] colinpmillar opened #71 "WGINOR: (Integrated Ecosystem Assessments) very keen to use TAF and looking for guidance"
### Summary

* Should thier repositories be on ices-taf
* should they start on thier ices-eg repository

This more generally speaks the point of widening the use of of TAF in other assessments in ICES.

### task list

- [ ] ...
- [ ] ...

### related issues

[2022-09-09 10:20] colinpmillar commented on #71
@bplanque I have began a discussion on what we spoke about at the TCTAF2022. Please add more if I have missed some things,
Thanks!
Colin

[2022-09-16 08:41] colinpmillar opened #72 "Round up feedback from WKTAF 2022-2"

[2022-09-16 08:42] colinpmillar opened #73 "TAF team introduction"

[2022-09-16 11:51] colinpmillar commented on #72
### General feedback,
* wiki preparation made for nicer pace through the course.
* in person meeting would have been preferable
* if issues arose on your computer it was easy to fall behind

### General tasks:
- [ ] ask for stockassessment package maintainers to modify DESCRIPTION file to inlcude ellipse, TMB and Matrix
- [ ] send worksheet.R clean examples to WKTAF repo.
- [ ] advertise user grou

[2022-09-16 12:01] colinpmillar opened #74 "WKTAF 2022-2 report"

[2022-09-16 12:19] cekv opened #75 "Create code / .shp files for base-maps used in ICES products."
For every time we are asked to produce maps or other visual aids for reports or special requests. To create a standard for ICES publications.

* Each ecoregion
* Whole ICES area
* NNEAFC area
* MED area?

[2022-11-04 14:50] colinpmillar opened #76 "Connections made relating to TAF at CAPAM good practices workshop. Possible work items to me written up"
* Contacts made with GFCM staff concerning development of FLR objects to store stock assessment results and reference points. Keen to collaborate with WGTAFGOV and ACOM chairs on this.
* I presented at the spatial stock assessment session and have begun drafting a paper on good practices for data preparation for (spatial) stock assessments with the key note speakers and the NS cod assessor. Plan i

[2022-11-04 18:42] iagomosqueira commented on #76
FLCore now contains a new class, tentatively called FLStockR (better suggestions welcome) that conatrins a lot for referebce points (refpts, class FLPar) and a stock-recruit relationship (sr, of class predictModel). This has now been used to store results from runs of Stock Synthesis.

Code is at [github](https://github.com/flr/FLCore/blob/master/R/FLStockR.R).

Let's see if we can build from this

[2022-11-07 14:20] odontaster opened #77 "Status of indices calculated from Eggs & Larvae database feeding into assessments"

[2022-11-08 14:29] colinpmillar opened #78 "What would you like to understand better about TAF (on any level - physical, meta-physical, implementation, goals, users, databases, webpages, help pages, etc.)"

[2022-11-09 12:45] davidcurrie2001 commented on #18
This topic was discussed during the WKRDBES-RAISE&TAF workshop in September and a proposal on RDBES TAF repo structure, user roles and permissions was made.  A testing group will follow up on these proposals to check they will work in practice.

[2022-11-10 11:57] colinpmillar opened #79 "TAF mentioned in fisheries WG ToRs"
Explicit mention of TAF in the ToRs for WGRFS WG on Regional Fisheries.

SHould EGs be encouraged to explicitly mention TAF in their ToRs if they are a fisheries assessment group

[2022-11-10 12:00] cekv opened #80 "WKTAF for 2023"
At least two new workshops for stock assessors planned in 2023 ( 24-25 January and 30-31st of May).

Feedback to have in-person workshop (hybrid) could maybe be planned for the one in May.

[2022-11-10 13:26] colinpmillar opened #81 "WKTAF training ideas 2023"
Headline: **get all stocks in TAF**

Benchmarks are seen as a good route into TAF, but support from ICES sec at all benchmarks maybe difficult.  Hence these three requirements:
* Develop worked examples on Wiki for:
  - Cat 5
  - Cat 3
  - Cat 1
    - SS3
    - spict
    - sam
    - ...
* Email all stock assessors link to Cat 5, cat 3 etc.
  - ask for volounteer to work on example
  - make (github

[2022-11-10 13:31] colinpmillar commented on #80
Improvements for 2023:
* Initial set up course, get git, rstudio, packages etc. one week before course
* Supliment initial course with a wiki page.

[2022-11-10 13:48] iagomosqueira commented on #28
Should we link this to the [FLStock+refpts](https://github.com/flr/FLCore/blob/master/R/FLStockR.R) class? Would everything needed to push to SAG in that class

[2022-11-10 13:56] colinpmillar opened #82 "Get TAF ambassador communcation going for 2023"

[2022-11-28 11:52] davidcurrie2001 opened #83 "WKTAF training workshops for RDBES are required"

[2022-11-28 11:56] davidcurrie2001 commented on #83
At the WGRDBESGOV meeting a need for TAF training for RDBES national data estimators was identified.  How should this be delivered e.g. as part of the existing TAF workshops, or specific RDBES/TAF workshops?

[2022-11-30 09:49] colinpmillar commented on #18
This needs much more description, but here it is anyway. THis is a database to store outputs from a TAF project/repository.  It allows for flexible object definitions and lots of metadata to aid with searching and authorizing.
![image](https://user-images.githubusercontent.com/1502848/204763703-769b5e67-e7e0-4a8b-829d-4f7b83480453.png)

[2022-11-30 09:50] colinpmillar commented on #18
An example of a token (a straw token) for example in the RDBES context:
![image](https://user-images.githubusercontent.com/1502848/204763910-4d8b5ac2-41ef-488c-96b5-cf608c2edf0f.png)

[2022-11-30 09:52] colinpmillar commented on #18
So i think using this structure, the user roles in RDBES are fully compatible with TAF

[2022-11-30 09:56] colinpmillar commented on #13
this is the structure of a developing DB for storing outputs from a TAF repository.
![image](https://user-images.githubusercontent.com/1502848/204764883-c81aa2fa-f1fe-41b7-ba0e-521619a260d2.png)

Various formats for outputs are possible (outputs stored as files). and therefore varioua validation options are possible.
![image](https://user-images.githubusercontent.com/1502848/204765171-3664e90b-8e7

[2022-11-30 09:58] colinpmillar commented on #13
But what we need here is a vocabulary of TAF output types. an output type *could* be linked to a format / structure, and also to a validation script and / or QC script function.